body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}
aside {
    width: 250px; /* Ancho de la barra lateral */
    background-color: #2E8B57; /* Verde oscuro */
    color: white; /* Texto en blanco */
    padding: 20px;
    height: 100vh; /* Ocupa toda la altura de la pantalla */
    position: fixed; /* Fija el aside a la izquierda */
    left: 0;
    top: 0;
    overflow-y: auto; /* Permite hacer scroll si el contenido es largo */
}

.main-body {
    margin-left: 320px; /* Para evitar que el contenido se solape con el aside */
    padding: 20px;
}